@charset "utf-8";

html, body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    text-align: center;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	color: #000;
	background: url(../img/fundo_final.JPG) repeat-y center 0;
	background-size:cover;
    position: relative;
	background-repeat:repeat;
	background-attachment:fixed;
	background-color: #0b88ab;
}

td, th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align:center
}
/* ~~ Element/tag selectors ~~ */
ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h4, h5, h6, p {
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px;
}
/* ~~ This fixed width container surrounds all other blocks ~~ */
.container {
	position: relative;
	width: 100%;
	height: auto !important;
	min-height: 100%;
	background-color: transparent;
	margin: 0 auto -40px; 

	/* the auto value on the sides, coupled with the width, centers the layout */
}
/* ~~ The header is not given a width. It will extend the full width of your layout. ~~ */

/*Modificado 04/04*/

.header {
	background-image: linear-gradient(bottom, rgb(204,204,204) 0%, rgb(148,146,148) 100%);
	background-image: -o-linear-gradient(bottom, rgb(204,204,204) 0%, rgb(148,146,148) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(204,204,204) 0%, rgb(148,146,148) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(204,204,204) 0%, rgb(148,146,148) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(204,204,204) 0%, rgb(148,146,148) 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(204,204,204)),
		color-stop(1, rgb(148,146,148))
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCCCCC', endColorstr='#949294'); /* IE6 & IE7 */  
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCCCCC', endColorstr='#949294')"; /* IE8+ */  
	background-color: rgb(204,204,204);
	height: 75px;
	display: block;
}
.logo {
	float:left;
	vertical-align: middle;
	width: 120px;
	background-color: transparent;
	padding-bottom: 5px;
	padding-top: 15px;
	padding-left: 10px;
}

input.filterinput{ 
	background: #ffffff url(../img/icon_search.png) no-repeat;
	background-position: 205px 4px !important;
	padding: 5px;
	width: 220px;
	height: 15px;
	border: 1px solid #CCC;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin-top: -18px;
	float: right;
} 
input.filterinput:focus { 
	background-color: #ffffff; 
	outline: none; 
	border: 1px solid #099ef4;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	height: 15px;

} 
.sistema {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	float:left;
	vertical-align: middle;
	text-align: center;
	width: 85px;
	background-color: transparent;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-left: 20px;
	font-weight: bold;
	margin-top: 5px;
}
.avalCabine {
	font: 130%/3.4 Verdana, Arial, Helvetica, sans-serif;
	float:right;
	vertical-align: middle;
	text-align: center;
	width: 85px;
	background-color: transparent;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-left: 20px;
	font-weight: bold;
	margin-top: 5px;
}
.sistemaLink {
	text-decoration: none;
	color: #000;
	font-weight: bold;
}
.sistemaselecionado {
	background-color: rgb(250, 151, 0);
    /* RGBa with 0.6 opacity */
	background-color: rgba(250, 151, 0);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99fa9700, endColorstr=#99fa9700);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99fa9700, endColorstr=#99fa9700)";

    
}
.sistema:hover {
	background-color: #FFF;
}
.mainBotao {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	float:left;
	vertical-align: middle;
	text-align: center;
	width: 65px;
	background-color: transparent;
	margin: 5px;
	padding: 5px;
	font-weight: bold;
}
.mbSelecionado {
	background-color: rgb(255, 255, 255);
    /* RGBa with 0.6 opacity */
    background-color: rgba(255, 255, 255, 0.3);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff, endColorstr=#99ffffff);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff, endColorstr=#99ffffff)";
}
.mainBotaoLink {
	text-decoration: none;
	color: #FFF;
	font-weight: bold;
}
.mainBotao:hover {
	background-color: rgb(255, 255, 255);
    /* RGBa with 0.6 opacity */
    background-color: rgba(255, 255, 255, 0.3);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff, endColorstr=#99ffffff);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff, endColorstr=#99ffffff)";
}
/*Modificado 04/04*/
.botaoLateral {
	font: 100%/1.4  Verdana, Arial, Helvetica, sans-serif;
	float: left;
	text-align: center;
	width: 150px;
	height: auto;
	margin: 2px 8px;
	color: #fff;
	font-weight: normal;
	font-size: 1.1em;
	line-height: 20px;
	border:1px #999 solid;
	-moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
 border:2px #FFF solid;
	-moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	background-color: #199abe;

}
.botaoLateralLink {
	text-decoration: none;
	color: #FFF;
	-moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
    overflow: hidden;
}
.botaoLateral:hover, .ATToolbarBotao:hover, .botaoAT:hover, .botaoClasse:hover, .botaoApoio:hover, .botaoSupervisor:hover {
background-color: #fdc333;
	color: #000;
}
.botaoLateral:active, .ATToolbarBotao:active, .botaoAT:active, .botaoClasse:active, .botaoApoio:active, .botaoSupervisor:active {
	border:2px #FF9933 solid;
	background-color: #fdc333;
	color: #000;
}
.botaoLateralForm {
	float: left;
	text-align: center;
	width: 152px;
	height: 39px;
	margin: 2px 8px;
	/*	padding: 5px;*/
	background-image: url(../img/senha_espec.png);
	font-weight: bold;
	font-size: 0.9em;
	line-height: 16px;
	padding-top: 5px;
}
.botaoLateralFormLink {
	text-decoration: none;
	color: #032952;
}
/*Modificado 04/04*/
.botaoLateralFormInput {
	width: 98px;
	height: 16px;
	border: none;
	background: transparent;
}
.botaoLateralForm:hover {
	background-image: url(../img/senha_espec_passa.png);
}
.botaoLateralForm:active {
	background-image: url(../img/senha_espec_apert.png);
	color: #a42e00;
}
.ATToolbarLetras {
	border:2px #FFF solid;
	-moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
	background-color: #199abe;
	height:24px;
	font-size:1em;
	font-weight:bold;
	margin:2px;
	padding-bottom:3px;
	width: 18px;
	*padding:2px 2px 2px 2px
}
.ATToolbarLetras:hover {
	background-image: linear-gradient(bottom, #fa9e00 27%, #fae605 87%);
	background-image: -o-linear-gradient(bottom, #fa9e00 27%, #fae605 87%);
	background-image: -moz-linear-gradient(bottom, #fa9e00 27%, #fae605 87%);
	background-image: -webkit-linear-gradient(bottom, #fa9e00 27%, #fae605 87%);
	background-image: -ms-linear-gradient(bottom, #fa9e00 27%, #fae605 87%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.27, #fa9e00),
		color-stop(0.87, #fae605));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa9e00', endColorstr='#fae605'); /* IE6 & IE7 */  
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa9e00', endColorstr='#fae605')"; /* IE8+ */  
	background-color: #fae605;
}
.ATToolbarLetras:active, .LetrasSel {
	border:2px #FF9933 solid;
	background-image: linear-gradient(bottom, #ff7d03 20%, #fdc333 60%);
	background-image: -o-linear-gradient(bottom, #ff7d03 20%, #fdc333 60%);
	background-image: -moz-linear-gradient(bottom, #ff7d03 20%, #fdc333 60%);
	background-image: -webkit-linear-gradient(bottom, #ff7d03 20%, #fdc333 60%);
	background-image: -ms-linear-gradient(bottom, #ff7d03 20%, #fdc333 60%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.20, #ff7d03),
		color-stop(0.60, #fdc333));
	color:#C30;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7d03', endColorstr='#fdc333'); /* IE6 & IE7 */  
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7d03', endColorstr='#fdc333')"; /* IE8+ */  
	background-color: #fdc333;
}

.divisor {
	font-size: 2px;
}
.areaCentral {
	margin: auto;
	position: relative;
	min-height: 10px;
	max-height:auto;
	width: 880px;
	display: block;
	padding: 10px;
	 /* Fallback for web browsers that don't support RGBa */
   
    /* RGBa with 0.6 opacity */
    background-color: rgba(255, 255, 255, 0.3);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff, endColorstr=#99ffffff);
    /* For IE 8*/
   filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4cffffff', endColorstr='#4cffffff'); /* IE */

	-ms-border-redius: 10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	
	border-radius: 10px;	
	padding-bottom: 5px;
	padding-top: 5px;
	overflow:hidden;
	margin-top:20px;
}

.sidebar1 {
	float: left;
	width: 88px;
	background-color: transparent;
	padding-bottom: 5px;
	padding-top: 5px;
	overflow:auto;
}
.sidebar2 {
	float: left;
	width: 172px;
	height: 100%;
	padding: 2px;
	background-color: #E9E9E9;
	overflow:auto;
	margin-top: 6px;
	margin-right: 3px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
	border: solid 1px #000;
}
.content {
	background-color: transparent;
	width: 685px;
	padding-right: 5px;
	float: right;
	height: 100%;
	overflow: auto;
	margin-top: 6px;
	border: none;
}
#alterar {
	background-color: transparent;
	width: 874px;
	float: left;
	height: 100%;
	overflow: auto;
	margin-top: 6px;
	border: none;
}
#login{
	background-color: transparent;
	width: 874px;
	float: left;
	height: 100%;
	overflow: auto;
	margin-top: 6px;
	border: none;

}
.tabelaContent {
	background-color: #E9E9E9;
	padding: 1px;
	height: 100%;
	margin-bottom: 6px;
	border: solid 1px #000;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
.contentExt {
	background-color: transparent;
	width: 874px;
	float: left;
	height: 100%;
	overflow: auto;
	margin-top: 6px;
	border: none;
}
.tabelaContentExt {
	background-color: #E9E9E9;
	padding: 1px;
	width: 870px;
	height: 100%;
	margin-bottom: 6px;
	border: solid 1px #000;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
.dadosUnidade {
	background-color: #fff;
	padding: 2px;
	width: 870px;
	float: left;
	height: 100%;
	margin-top: 6px;
	border: solid 1px #000;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
aside {
	float: left;
	width: 180px;
	background-color: #EADCAE;
	padding: 10px 0;
}

/* ~~ The footer ~~ */
.footer {
	background-image: linear-gradient(bottom, rgb(92,92,92) 0%, rgb(171,171,171) 100%);
	background-image: -o-linear-gradient(bottom, rgb(92,92,92) 0%, rgb(171,171,171) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(92,92,92) 0%, rgb(171,171,171) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(92,92,92) 0%, rgb(171,171,171) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(92,92,92) 0%, rgb(171,171,171) 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(92,92,92)),
		color-stop(1, rgb(171,171,171))
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5C5C5C', endColorstr='#ABABAB'); /* IE6 & IE7 */  
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#5C5C5C', endColorstr='#ABABAB')"; /* IE8+ */  
	background-color: rgb(171,171,171);
	height: 40px;
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
	text-align: right;
	color: #FFF;
}
.push {
	height: 40px;
}
.clearfloat { /* this class can be placed on a <br /> or empty block element as the final element following the last floated block (within the .container) if the footer is removed or taken out of the .container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
.AreaTrabalho {
    background-color: #DDD;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 3px;
    padding-bottom: 5px;
    width: 100%;
    display: table;
	border-collapse: separate;
	border-spacing: 1px;
	border-color: gray;
}
.ATTitle {
    background: none repeat scroll 0 0 #ffffff;
    border-bottom: 1px solid #;
	-moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -khtml-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    color: #000000;
    padding: 3px;
    text-transform: uppercase;
    font-size: 1.1em;
    text-align: center;
    width:100%;
}
#busca{
	text-align: left;
	padding-top: 5px !important;
	padding-left: 20px;
	width: 100%;
}
.columnHeader {
    color: #333333;
    font-weight: bold;
    padding: 2px 2px 2px 3px;
    text-align: center;
    border-bottom: 1px solid #fff;
}
.TabelaTotais {
    background-color: #E0E0E0;
    border-bottom: 1px solid #666666;
    margin-bottom: 5px;
    width: 100%;
}
.detalheSecao {
    width: 100%;
}
.celulaComum {
    background-color: #FFFFFF;
    font-size: 1.1em;
    font-weight: bold;
    padding: 3px 15px 3px 15px;
}
.Aviso, .AvisoErro, .AvisoConfirmacao, .AvisoAval, .AvisoAval {
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    font-size: 1.4em;
    font-weight: bold;
    padding: 5px;
    width: 100%;
}
.Aviso {
    background: none repeat scroll 0 0 #F7E4B0;
    color: #000000;
}

.AvisoBic {
    background: none repeat scroll 0 0 #F2DEDE;
    color: #B84442;
}

.AvisoConfirmacao {
    background: none repeat scroll 0 0 #55BB55;
    color: #FFF;
}
.AvisoBotao {
    background: none repeat scroll 0 0 #FF9900;
    border: 1px outset #FF6600;
    font-weight: bold;
    height: 24px;
    margin-top: 5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
.AvisoBotaoTempoExtra {
    background: none repeat scroll 0 0 #FAB;
    border: 1px outset #FAB;
    font-weight: bold;
    height: 20px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
.AvisoErro {
    background: none repeat scroll 0 0 #FF4444;
    color: #FFFFFF;
}
.AvisoAval {
	background:#eeb;
	color:#000;
}
th.UnidadeID {
    background: none repeat scroll 0 0 #EEE;
    border-bottom: 3px solid #DDD;
    color: #333;
    font-size: 1.2em;
    padding: 4px 5px 5px;
    text-align: center;
}
th.UnidadeLabel {
    background: none repeat scroll 0 0 #EEE;
    border-bottom: 1px solid #FFFFFF;
    color: #555555;
    padding: 3px;
    text-align: right;
    width: 25%;
}
td.UnidadeDado {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #EEE;
    font-size: 1.1em;
    font-weight: bold;
    padding: 2px;
    text-align: left;
    width: 25%;
    padding-left: 4px;
}
td.UnidadeStatus_ON {
    color: #009900;
}
td.UnidadeStatus_OFF {
    color: #FF0000;
}
.detalhes {
	font-size: 0.9em;
	font-weight: normal !important;
	text-transform: lowercase;
	color: #000;
}
.ATLabel {
    background: none repeat scroll 0 0 #EEE;
    border-bottom: 1px solid #FFFFFF;
    color: #555555;
    font-size: 1.1em;
    font-weight: normal;
    padding: 3px;
    text-align: right;
    width: 43.5%;
}
.nomeAtividade {
    background: none repeat scroll 0 0 #f4f4f4;
    border-bottom: 1px solid #FFFFFF;
    color: #000;
    font-size: 1.1em;
    font-weight: normal;
    padding: 3px;
    text-align: left;
    width: 43.5%;
}
.ATRodape {
    background: none repeat scroll 0 0 #EEE;
    border-bottom: 1px solid #DDD;
    color: #333;
    font-size: 0.9em;
    font-weight: normal;
    padding: 2px;
    text-align: right;
    width: 100%;
}
.ATDados {
    background: none repeat scroll 0 0 #FFF;
    font-size: 1.1em;
    font-weight: bold;
    padding: 2px 2px 2px 3px;
    text-align: left;
}

.BotaoAdicionar{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #050505;
	padding: 0px 5px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ebebeb 50%,
		#dbdbdb 50%,
		#b5b5b5);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffffff),
		color-stop(0.50, #ebebeb),
		color-stop(0.50, #dbdbdb),
		to(#b5b5b5));
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #949494;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1);
}
.BotaoAdicionar:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #050505;
	padding: 0px 5px;
	content: " ";
    background: #d6d6d6;
    border-radius: 5px;	
}
.BotaoAlterar{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #050505;
	padding: 0px 12px;
	content: " ";
    background: url(../img/edit.png) no-repeat -2px -5px;
    border-radius: 5px;	
	
}
.BotaoAlterar:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #050505;
	padding: 0px 12px;
	content: " ";
    background: url(../img/edit_press.png) no-repeat -2px -5px;
    border-radius: 5px;	
	
}
.ATSubServTitle {
    background: none repeat scroll 0 0 #f1f1f1;
	border-right:1px solid #ccc;	 
    color: #333;
    padding: 2px;
    text-transform: uppercase;
    width:50%;
    height: 10px;
}
.ATSubComplTitle {
    background: none repeat scroll 0 0 #f1f1f1;
	border-right:1px solid #ccc;	 
    color: #333;
    padding: 2px;
    text-transform: uppercase;
    width: 100% !important;
    height: 10px;

}
.ATSubTitle {
    background: none repeat scroll 0 0 #EEE;
    border-bottom: 1px solid #DDD;
    color: #333;
    padding: 2px;
    text-transform: uppercase;
}
.ATSubTitleLeft {
    background: none repeat scroll 0 0 #EEE;
    border-bottom: 1px solid #DDD;
    color: #333;
	-moz-border-radius: 10px 0 0 0;
    -webkit-border-radius: 10px 0 0 0;
    -khtml-border-radius: 10px 0 0 0;
    border-radius: 10px 0 0 0;
    padding: 2px;
    text-transform: uppercase;
}
.ATSubTitleRight {
    background: none repeat scroll 0 0 #EEE;
    border-bottom: 1px solid #DDD;
    color: #333;
	-moz-border-radius: 0 10px 0 0;
    -webkit-border-radius: 0 10px 0 0;
    -khtml-border-radius: 0 10px 0 0;
    border-radius: 0 10px 0 0;
    padding: 2px;
    text-transform: uppercase;
}
img {
	border: none;
}
.ATToolbarBotao {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	width: 105px;
	height: 26px;
	margin: 2px 8px;
	font-weight: normal;
	font-size: 1.1em;
	line-height: 22px;
	color: #FFF;
	border:1px #999 solid;
	-moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
 border:2px #FFF solid;
	-moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	background-color: #199abe;
}
.campo {
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    font-size: 1em;
    max-width: 370px;
    min-width: 24px;
}
.campoServico {
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    font-size: 1em;
    max-width: 200px;
    min-width: 80px;
}
.campoComent {
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}
.botaoAT {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	float: left;
	text-align: center;
	width: 322px;
	height: auto;
	margin: 2px 8px;
	font-weight: normal;
	font-size:1.1em;
	line-height: 14px;
	color: #FFF;
	border:1px #999 solid;
	-moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
 border:2px #FFF solid;
	-moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	background-color: #199abe;
}
.botaoClasse {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	float: left;
	text-align: center;
	width: 655px;
	height: 20px;
	margin: 2px 8px;
	font-weight: bold;
	font-size: 1em;
	line-height: 16px;
	color: #FFF;
	border:1px #999 solid;
	-moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
 border:2px #FFF solid;
	-moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	background-color: #199abe;
}
.classeVerde {
	color: #FFF;
	border:1px #999 solid;
	-moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
 border:2px #FFF solid;
	-moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	background-color: #079982;
}
.ClasseOpcoes {
	position:relative;
	float:none;
	margin:auto;
	background:#ccc;
	width:671px;
}
.CampoOpcoes {
	position:relative;
	float:none;
	margin:auto;
	background:#ffffff;
	border-right:solid 1px #cccccc;
	border-top:solid 1px #cccccc;
	width:505px;
}

.AT_IN {
	margin: 2px 5px; !important
}
.nomeUser, .nSenha span {
	display:block;
	margin:5px 0
}
.info {
	cursor:pointer;
	width:3% !important;
	border-top:#999 solid 1px;
}
.nSenha {
	width:40% !important;
	text-align:center !important;
}
.ativacao {
	width:15% !important
}
.superSenha {
	width:30% !important
}
.infoUser, .infoSenha {
	font-size:.9em !important;
	width:100%;
}
.infoTabela td{
	border-top:solid 1px #ccc;
	text-align:left;
	padding-left:5px;
}
.infoTabela tr td:first-child {
	text-align:right !important;
	background:#ebebeb;
	padding-right:5px;
}
.ATImageContainer {
	background-color:#ebebeb;
	border-bottom:solid 1px #FFF;
	padding:2px;
	width:15%
}
.botaoApoio {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	float: left;
	text-align: center;
	width: 655px;
	height: auto !important;
	padding: 5px;
	margin: 2px 8px;
	font-weight: bold;
	font-size:1em;
	line-height: auto;
	color: #FFF;
	border:1px #999 solid;
	-moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
 border:2px #FFF solid;
	-moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	background-color: #199abe;
}
.botaoApoioOff {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	float: left;
	text-align: center;
	width: 655px;
	height: auto !important;
	padding: 5px;
	margin: 2px 8px;
	font-weight: bold;
	font-size: 1em;
	line-height: auto;
	color: #666;
	border:2px #AAA solid;
	-moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
	background-color: #CCC;
}
.botaoClasseOff {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	float: left;
	text-align: center;
	width: 655px;
	height: auto !important;
	padding: 5px;
	margin: 2px 8px;
	font-weight: bold;
	font-size: 1em;
	line-height: auto;
	color: #666;
	border:2px #AAA solid;
	-moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
	background-color: #CCC;
}
.botaoEmissor {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	float: left;
	text-align: center;
	width: 192px;
	height: auto !important;
	padding: 5px;
	margin: 5px 8px;
	font-weight: normal;
	font-size: 1.1em;
	color: #fff;
	line-height: auto;
	border:1px #999 solid;
	-moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
 border:2px #FFF solid;
	-moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	background-color: #199abe;
}
.botaoEmissorOff {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	float: left;
	text-align: center;
	width: 192px;
	height: auto !important;
	padding: 5px;
	margin: 5px 8px;
	font-weight: bold;
	font-size: 1em;
	line-height: auto;
	color: #666;
	border:2px #AAA solid;
	-moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
	background-color: #CCC;
}
.ATLabelDupla {
    background: none repeat scroll 0 0 #EEE;
    border-bottom: 1px solid #FFFFFF;
    color: #555555;
    font-size: 1.1em;
    font-weight: normal;
    padding: 3px;
    text-align: right;
    width: 25%;
}
.ATCheck {
	width:20px;
	border-bottom:solid 1px #fff;
}
.ATListaAgendamento {
	font-weight:bold;
	padding:2px;
	text-align:left;
	width:40%;
	border-bottom:solid 1px #fff;
}
.botaoSupervisor {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	float: left;
	text-align: center;
	width: 134px;
	height: 16px;
	margin: 2px 3px;
	text-decoration: none;
	font-weight: normal;
	font-size: 1em;
	line-height: 16px;
	color: #FFF;
	border:1px #999 solid;
	-moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
 border:2px #FFF solid;
	-moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	background-color: #199abe;
}
.detalheSecao {
	width:100%
	display: block;
	float: left;
	position:relative;
}
.nomeSecao {
	float:left;
	margin:3px 10px
}
.valorSecao{
	float:left;
	margin:3px 10px 3px 5px;
	display:block;
	width:12%;
	font-size:1.1em;
	background: #fff;
}
.totaisSecao {
	float:right;
	margin:3px 10px 3px 5px;
	display:block;
	width:12%;
	font-size:1.1em
}
.TabelaTotais {
	border-bottom:solid 1px #666;
	background-color:#e0e0e0;
	margin-bottom:5px;
	width:100%;
}
.resumoSecao, .deviceOn {
	cursor:pointer;
	background:#6699FF;
	font-weight:bold;
	color:#fff
}
h3 {
	float:left;
	 margin:0;
	 width:100%;
	 font-weight:normal;
	 border-top:solid 1px #fff;
	 border-bottom:#fff solid 1px;
	 font-size:1em
}
.minimiza {
	display:block;
	width:11px;
	height:11px;
	background:url(../img/mini.png) no-repeat;
	float:right;
	_margin-top:-12px
}
.maximiza {
	display:block;
	width:11px;
	height:11px;
	background:url(../img/maxi.png) no-repeat;
	float:right;
	_margin-top:-12px
}
.close {
	display:block;
	width:11px;
	height:11px;
	background:url(../img/close.png) no-repeat;
	float:right;
	_margin-top:-12px
}
.desvincula {
	display:block;
	width:18px;
	height:18px;
	background:url(../img/del.png) no-repeat;
	float:right;
	_margin-top:-12px
}
.botaoSelecionado {
	border:2px #FF9933 solid;
	background-color: #fdc333;
	color: #000;
}

.ListaItem_OFF {
	background-color:#ebebeb;
	padding:2px;
	padding-left:3px;
	color:#666;
	border-bottom:solid 1px #ccc;
	text-transform:uppercase
}
.botaoATExt {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	float: left;
	text-align: center;
	width: 329px;
	height: 20px;
	margin: 2px 8px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.8em;
	line-height: 16px;
	color: #FFF;
	border:2px #FFF solid;
	-moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px; 
	background-color: #199abe;
}
.BotaoSenha {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	float: left;
	text-align: center;
	width: 80px;
	height: 40px;
	margin: 2px 8px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.8em;
	line-height: 16px;
	color: #FFF;
	border:2px #FFF solid;
	-moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px; 
	background-color: #199abe;
}
.EventoData {
	float:left;
	font-weight:bold;
	width:24%;
	vertical-align:top;
	padding: 5px;
	font-size: 1.1em;
	border-top: 1px solid #ccc;
}
.mensagem {
	float:left;
	display:block;
	width:72.6%;
	padding: 5px;
	font-size: 1.1em;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
}
.Chat {
	background-color:#fff;
	text-align:left;
	width:60%;
	background-color:#FFFFFF;
	font-size: 1.1em;
}
.senha{
	padding-left: 10px; 

}
.labelSenhas {
	display:block;
	width:105px;
	float:left;
	font-size:1.4em;
	margin:10px 6px;
	text-align:left
}
input.cbox {
	_margin-bottom:-2px;
}
.tipsy { padding: 5px; font-size: 11px; font-weight:bold; filter: alpha(opacity=80); background-repeat: no-repeat;}
.tipsy-inner { 
	padding: 4px 5px;
	color: #222;
	text-align: center;
	border : solid 2px #bfbfbf;
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    background: linear-gradient(bottom, #fff 27%, #ccc 87%);
	background: -o-linear-gradient(bottom, #fff 27%, #ccc 87%);
	background: -moz-linear-gradient(bottom, #fff 27%, #ccc5 87%);
	background: -webkit-linear-gradient(bottom, #fff 27%, #ccc 87%);
	background: -ms-linear-gradient(bottom, #fff 27%, #ccc 87%);
	background: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.27, #FFF),
	color-stop(0.87, #CCC)
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cccccc'); /* IE6 & IE7 */  
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cccccc')"; /* IE8+ */  
	background-color: #CCC;
}
.tipsy-north { background-image: url(/tipsy-north.gif); background-position: top center; }
.tipsy-south { background-image: url(/tipsy-south.gif); background-position: bottom center; }
.tipsy-east { background-image: url(/tipsy-east.gif); background-position: right center; }
.tipsy-west { background-image: url(/tipsy-west.gif); background-position: left center; }
.ajuda {
	margin-left
	margin-bottom: 6px;
	color:#111;
	border:3px solid #DCA;
	background:#fffAF0;
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding:14px 20px;
	line-height:16px;
	text-align: justify;
	position: absolute;
	width: 640px;
	z-index: 50;
	height: auto;
}
.ajuda h1 {
	padding:0 !important;
}
.extendido {
	width: 830px !important;
}
.content1 {
	background-color: transparent;
	width: 510px;
	float: left;
	height: 100%;
	overflow: auto;
	margin-top: 6px;
	border: none;
}
#remoteVideo video {
position:relative;
z-index:1;
height:400px;
}
#localVideo video {
position:relative;
z-index:2;
margin-right:7px;
top:-105px;
height:100px;
float:right;
}
.ATLogin {
    background: none repeat scroll 0 0 #ffffff;
    border-bottom: 1px solid #;
    color: #000000;
    padding: 3px;
    text-transform: uppercase;
    font-size: 1.1em;
}
th.ATTitleUnidades{
	text-align: center;
	padding-top: 5px !important;
	padding-right: 10px;
	width: 100%;
	background: none repeat scroll 0 0 #eeeeee;
    border-bottom: 1px solid #;
	-moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -khtml-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    color: #000000;
    padding: 3px;
    text-transform: uppercase;
    font-size: 1.1em;
}
.tabelaContentVideo {
	background-color: #E9E9E9;
	padding: 1px;
	width: 590 !important;
	height: 100%;
	margin-bottom: 6px;
	border: solid 1px #000;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
.contentVideo {
	background-color: transparent;
	width: 690px;
	float: left;
	overflow: auto;
	margin-top: 6px;
	border: none;
}
.campoAtividades {
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    font-size: 1em;
	overflow:auto;
	width: 320px;
	height: 160px;
}
#mask {
	margin: auto;
	position: relative;
	min-height: 10px;
	max-height: auto;
	width: 720px;
	display: block;
	padding-left: 86px;
	overflow: hidden;
}
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; text-align:left;}
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
