/* TAGS */

* {
	box-sizing: border-box;
}
body {
	background-image: url([[pix:theme|bg/bg]]);
	background-size: cover;
	font-size: 10px;
}
footer {
	background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(rgb(92, 92, 92)), to(rgb(171, 171, 171)));
	color: white;
    float: right;
	height: 40px;
}
h1, h3 {
	font-size: 1.1em;
	text-align: center;
	text-transform: uppercase;
}
h2 {
    background: #EEE;
    border-bottom: 3px solid #DDD;
    color: #333;
    font-size: 1.2em;
    line-height: 1;
    margin: 3px 0;
    padding: 4px 5px 5px;
    text-align: center;
    text-transform: uppercase;
}
h3 {
    line-height: 1;
}
input[type=submit] {
    font-size: 1.32em;
    height: 26px;
    line-height: 1.1;
    margin: 2px 8px !important;
}


/* CLASSES */

.block {
	background-color: #E9E9E9;
    border: 1px solid #000;
    padding: 2px;
}
.block a:hover {
    color: inherit;
}
.block_tree ul li, input[type=submit], #searchforums {
    background: #199abe;
    border: 2px #FFF solid;
    border-radius: 6px;
    -webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 3px rgba(255,255,255,1);
    box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 3px rgba(255,255,255,1);
    color: #fff;
    margin: 5px !important;
    text-shadow: none !important;
}
.block_tree ul li a {
    color: #fff;
    display: inline-block;
    min-width: 150px;
}
.block_tree ul li:hover, input[type=submit]:hover {
    background-color: #fdc333 !important;
    color: #000 !important;
}
.block_tree ul li:hover a {
    color: #000 !important;
}
.block_tree ul li.current_branch {
    background-color: #fdc333;
    border: 2px #FF9933 solid;
}
.block_tree ul li.current_branch a {
    color: #000;
}
.block_tree ul li li {
    background: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.block_tree ul li li a:hover {
    text-decoration: underline;
}
.block_tree ul li p {
    padding-left: 10px !important;
}
.bor {
	display: none;
}
.brand {
	display: none !important;
}
.breadcrumb-nav {
	display: none;
}
.courses .coursebox {
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.course-content li {
	background: none !important;
}
.dropdown-menu li:hover {
	background: #199abe;
}
.footnote {
    color: white !important;
    float: right;
    text-align: right;
}
.forumsearch {
    background: #e9e9e9;
    border-radius: 10px;
    float: left;
    position: fixed;
    right: -20px;
    top: 30px;
    width: 350px;
}
.forumsearch input[type="text"] {
    height: 24px !important;
}
body > .header {
	background-image: linear-gradient(bottom, rgb(204,204,204) 0%, rgb(148,146,148) 100%);
	background-image: -o-linear-gradient(bottom, rgb(204,204,204) 0%, rgb(148,146,148) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(204,204,204) 0%, rgb(148,146,148) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(204,204,204) 0%, rgb(148,146,148) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(204,204,204) 0%, rgb(148,146,148) 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(204,204,204)),
		color-stop(1, rgb(148,146,148))
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCCCCC', endColorstr='#949294'); /* IE6 & IE7 */  
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCCCCC', endColorstr='#949294')"; /* IE8+ */  
	background-color: rgb(204,204,204);
	height: 75px;
}
.header a {
	color: black;
}
.loginbox {
    background: #E9E9E9;
    margin: 0;
}
.logo {
	float: left;
	padding: 15px 0 10px 22px;
	width: 130px;
}
.mainBotao a, .sistema a {
	cursor: pointer;
	display: block;
	float: left;
	font-weight: bold;
	line-height: 1.4;
	margin: 5px 0 5px 20px;
	min-height: 62px;
	padding: 5px 0;
	text-align: center;
	width: 85px;
}
.mainBotao a {
	color: white !important;
	margin: 5px;
	padding: 5px;
	width: 75px;
}
.mainBotao a:hover {
	background: rgba(255,255,255,0.3);
}
.mainBotao img, .sistema img {
	display: block;
	margin: 0 auto;
}
.navbar-inner {
	background: transparent;
}
.row-fluid .span3 {
	/*width: 24.2%;*/
}
.sidebar1 {
	clear: both;
	float: left;
	padding-top: 6px;
    position: absolute;
	width: 85px;
}
.sistema a:hover {
	background: white;
}
.sistemaselecionado {
	background: rgb(250, 151, 0);
}
.summary {
    width: 100% !important;
}



/* IDS */

#essentialnavbar {
	background: none;
	height: 40px;
	width: 220px;
}
#frontpage-course-list {
    background: none;
    padding-top: 0 !important;
}
#frontpage-course-list h2 {
    margin: 3px 0 !important;
}
#page {
	background-color: transparent;
    margin-left: 50px;
}
#page-content {
	background: rgba(255,255,255,0.3);
	border-radius: 10px;
	margin: 0 auto;
	padding: 10px;
	width: 930px;
}
#page-footer {
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(92,92,92)), color-stop(1, rgb(171,171,171)) );
    height: 40px;
}
#page-header {
	display: none;
}
#page-navbar {
	float: left;
}
#region-main {
	border: 1px solid #000 !important;
    margin: 0 !important;
    padding: 0 6px !important;
}
.pagelayout-login #region-main {
    background: #e9e9e9 !important;
}







.coursebox>.info>.coursename a {
	background-image: none !important;
}