/* TAGS */

* {
	box-sizing: border-box;
}
body {
	background-image: url([[pix:theme|bg/bg]]);
	background-size: cover;
	font-size: 10px;
}
h1, h3 {
	font-size: 1.1em;
	text-align: center;
	text-transform: uppercase;
}


/* CLASSES */

.block {
	border: 1px solid #000;
}
.bor {
	display: none;
}
.brand {
	display: none !important;
}
.breadcrumb-nav {
	display: none;
}
.course-content li {
	background: none !important;
}
.dropdown-menu li:hover {
	background: #199abe;
}
body > .header {
	background-image: linear-gradient(bottom, rgb(204,204,204) 0%, rgb(148,146,148) 100%);
	background-image: -o-linear-gradient(bottom, rgb(204,204,204) 0%, rgb(148,146,148) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(204,204,204) 0%, rgb(148,146,148) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(204,204,204) 0%, rgb(148,146,148) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(204,204,204) 0%, rgb(148,146,148) 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(204,204,204)),
		color-stop(1, rgb(148,146,148))
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCCCCC', endColorstr='#949294'); /* IE6 & IE7 */  
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCCCCC', endColorstr='#949294')"; /* IE8+ */  
	background-color: rgb(204,204,204);
	height: 75px;
}
.logo {
	float: left;
	padding: 15px 0 10px 22px;
	width: 130px;
}
.mainBotao a, .sistema a {
	cursor: pointer;
	display: block;
	float: left;
	font-weight: bold;
	line-height: 1.4;
	margin: 5px 0 5px 20px;
	min-height: 62px;
	padding: 5px 0;
	text-align: center;
	width: 85px;
}
.mainBotao a {
	color: white !important;
	margin: 5px;
	padding: 5px;
	width: 75px;
}
.mainBotao a:hover {
	background: rgba(255,255,255,0.3);
}
.mainBotao img, .sistema img {
	display: block;
	margin: 0 auto;
}
.navbar-inner {
	background: transparent;
}
.row-fluid .span3 {
	/*width: 24.2%;*/
}
.sidebar1 {
	clear: both;
	float: left;
	padding-top: 6px;
	width: 85px;
}
.sistema a:hover {
	background: white;
}
.sistemaselecionado {
	background: rgb(250, 151, 0);
}




/* IDS */

#essentialnavbar {
	background: none;
	height: 40px;
	width: 220px;
}
#page {
	background-color: transparent;
}
#page-content {
	background: rgba(255,255,255,0.3);
	border-radius: 10px;
	margin: 0 auto;
	padding: 10px;
	width: 930px;
}
#page-header {
	display: none;
}
#page-navbar {
	float: left;
}
#region-main {
	border: 1px solid #000 !important;
}